[ReleaseProperties]
; Unique mod ID. Leave blank for auto GUID (OriginalAuthor.Name)
GUID=

; The name of the mod, used for AutoGUID, AssemblyName, and anything else which needs a file-friendly name. Leave blank to Auto-Fill from existing data.
PluginName=VoidManager

; User friendly name of the mod. Used in MyPluginInfo.cs for names visible to users. Leave blank to Auto-Fill from the PluginName.
UserPluginName=Void Manager

; Thunderstore mod name/page link. Must only have characters [a-z A-Z 0-9 _]. Leave Blank to Auto-Fill based on UserPluginName with " " replaced with "_".
ThunderstorePluginName=VoidManager

; The current version of the mod. Used for File Version, BepinPlugin, Thunderstore manifest, and README.
PluginVersion=1.2.5

; Version of the game this mod is built for. Used for README
GameVersion=1.0.3

; The simple description of the mod, used for MyPluginInfo.cs, Thunderstore manifest, and Assembly descriptions. Must be less than 250 Characters.
PluginDescription=Manages mods for multiplayer, gives users Mod controls via GUI (when provided by the mod, default keybind F5), provides API for developers, and minor Chat improvements.

; The original author of the mod, used for auto GUID and MyPluginInfo.cs.
PluginOriginalAuthor=VoidCrewModdingTeam

; The various authors/editors of the mod, used for MyPluginInfo.cs. Leave blank to Auto-Fill from PluginOrignalAuthor
PluginAuthors=Mest, Dragon, and 18107

; WebpageLink - Used by manifest for thunderstore page. Can be left blank.
WebpageLink=https://github.com/Void-Crew-Modding-Team/VoidManager

; ThunderStore ID (https://thunderstore.io/c/void-crew/p/VoidCrewModdingTeam/VoidManager/ the section equivelant to 'VoidCrewModdingTeam/VoidManager'). Can be left blank, may be utilized by VoidManager for a future feature.
ThunderstoreID=VoidCrewModdingTeam/VoidManager

; Dependency Strings - Comma delineated, spacing or no spacing is okay. Used for README and manifest.
DependencyStrings= BepInEx-BepInExPack-5.4.2100


; PreBuild Execution Params
[PrebuildExecParams]

; Throw error if icon.png does not exist.
IconError=true

; Throw error if CHANGELOG is not updated.
ChangelogError=true

; For output to project dir, use: "ProjectDir". For output to solution Dir, use: "SolutionDir". Leave blank to disable. All other input will use the given file path.
ProjectReadmeOutPath=SolutionDir

; Output a zip after building.
ZipOutput=true