[ReleaseProperties]
; Unique mod ID. Leave blank for auto GUID (OriginalAuthor.Name)
GUID=

; The name of the mod, used for AutoGUID, FileName, and anything else which needs a file-friendly name. Leave blank to use existing data.
PluginName=VoidManager

; User friendly name of the mod. Used for thunderstore and BepinPlugin names visible to users. Leave blank to use the PluginName.
UserPluginName=Void Manager

; Thunderstore mod name/page link. Must only have characters [a-z A-Z 0-9 _]. Leave Blank for autofill based on UserPluginName. " " is auto replaced with "_".
ThunderstorePluginName=VoidManager

; The current version of the mod. Used for file version, BepinPlugin, and Thunderstore manifest.
PluginVersion=1.1.8

; The version of Void Crew the mod is built for.
GameVersion=0.27.0

; The simple description of the mod, used for VoidManager and thunderstore manifest descriptions. Must be less than 250 Characters
PluginDescription=Manages mods for multiplayer, gives users Mod controls via GUI (when provided by the mod, default keybind F5), provides API for developers, and minor Chat improvements.

; The original author of the mod, used for auto GUID.
PluginOriginalAuthor=VoidCrewModdingTeam

; The various authors/editors of the mod.
PluginAuthors=Mest, Dragon, and 18107

; WebpageLink
WebpageLink=VoidCrewModdingTeam/VoidManager

; ThunderStore ID (https://thunderstore.io/c/void-crew/p/VoidCrewModdingTeam/VoidManager/ the section equivelant to 'VoidCrewModdingTeam/VoidManager'). Leave blank if unknown.
ThunderstoreID=VoidCrewModdingTeam/VoidManager


; PreBuild Execution Params
[PrebuildExecParams]

; Throw error if icon.png does not exist.
IconError=true

; Throw error if CHANGELOG is not updated.
ChangelogError=true

; For output to project dir, use: "ProjectDir". For output to solution Dir, use: "SolutionDir". Leave blank to disable. All other input will use the given file path.
ProjectReadmeOutPath=SolutionDir